In [1]:
import datetime
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

from chart import *
from table import *
from document import *

In [2]:
# 메타 정보

today = datetime.date.today()

y = today.year
m = today.month
d = today.day
w = today.weekday()

# report version
rtype = '월간' # 연간, 반기
month = '6월' # 7월
region = 'All' # All|KR|CN|NA|EU|SG|RU
v = '1'

if region == 'KR':
    regex = '^(KR|Global|All)' #' KR'
elif region == 'CN':
    regex = '^(CN|Global|All)'
elif region == 'NA':
    regex = '^(NA|Global|All)'
elif region == 'EU':
    regex = '^(EU|Global|All)'
elif region == 'SG':
    regex = '^(SG|Global|All)'
elif region == 'RU':
    regex = '^(SG|Global|All)'
else:
    regex = '^(KR|CN|NA|EU|SG|RU|Global|All)'

print("보고서 유형: ", rtype, "월: ", month)
print(regex)

보고서 유형:  월간 월:  6월
^(KR|CN|NA|EU|SG|RU|Global|All)

In [3]:
# Document 기본 폰트
style = document.styles['Normal']
style.font.name = '맑은고딕'
style.font.size = Pt(12)
style._element.rPr.rFonts.set(qn('w:eastAsia'), '맑은고딕')

In [4]:
# Chart 기본 폰트
alt.themes.register('맑은고딕', hanfont)
alt.themes.enable('맑은고딕')

ThemeRegistry.enable('맑은고딕')

## 요약

In [5]:
# ETL
base_path = r"./data/요약_202206_서비스관리_0727_01.ods"
sheet = f'{month}집계'

df = read_ods(base_path, sheet, headers=True)

# 리전 & 운영계, 월간보고서용
df_filtered = df[df['리전'].apply(lambda x: True if re.search(regex, x) else False) & (df['테넌트']== 'PRD') & (df['월간']=='O')]

In [6]:
df.describe()

,년도,월,리전,AZ,테넌트,진행상태,성패,작업내용,주간,월간,연간
count,56,56,56,56,56,56,33,56,56,27,56
unique,1,6,8,2,4,2,1,49,1,1,1
top,22년,6월,KR,1센터,PRD,완료,성공,클라우드 플랫폼(opentsack) 보안 설정 현황 확인 요청\n중국 GCS시스템에...,O,O,O
freq,56,32,12,50,36,33,33,2,56,27,56

In [7]:
# Chart
if region == 'All':
    # Data
    pivot, total = getPivotTable(df_filtered, month)
    source = pivot

    # Chart
    chart = getPieChart(source)
    chart.save(f'./charts/summary_{y}_{m}_{d}_{v}_1.png')

    # Docx
    document.add_paragraph('요약')    
    document.add_paragraph(f'완료: 총 {total} 건', style='List Bullet')
    document.add_picture(f'./charts/summary_{y}_{m}_{d}_{v}_1.png')
else:
    pass

npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.

In [8]:
pivot

   리전  합계    비중
0  KR   1  33.3
1  NA   1  33.3
2  SG   1  33.3

In [9]:
chart

alt.LayerChart(...)

In [10]:
df_filtered = df_filtered[ (df_filtered['월']==month) & (df_filtered['진행상태']=='진행중') ]
total = len(df_filtered)

In [11]:
# Document
document.add_paragraph(f'진행중: 총 {total} 건', style='List Bullet')
addSummaryTable(df_filtered, regex, month)
document.add_page_break()

## 1.1 모니터링(인시던트핸들링)

In [12]:
base_path = r"./data/1_1_202206_모니터링_인시던트핸들링_0727_01.ods"
sheet = f'{month}집계'

df = read_ods(base_path, sheet, headers=True)
df['장애전파소요시간'] = (pd.to_datetime(df['장애전파시간.1'])-pd.to_datetime(df['발생인지시간'])).astype('timedelta64[m]')

# Pivoting
pivot, total = getPivotTable(df, month)

# 리전 & 운영계, 월간보고서용
df_filtered = df[df['리전'].apply(lambda x: True if re.search(regex, x) else False) & (df['테넌트']== 'PRD') & (df['진행상태']=='완료') & (df['월간']=='O')]
df_filtered, timeslot = getTables(df_filtered, regex, month)
    
# SLA failed
df_failed = df_filtered[ (df_filtered['장애전파'] > 15) & (df_filtered['월']== month)]
df_failed[['날짜', '장애이벤트', '조치내용', 'JIRA_Ticket_No', '장애전파소요시간']]

,날짜,장애이벤트,조치내용,JIRA_Ticket_No,장애전파소요시간
92,2022.06.04,Free Size on aggr_node02_data_CNCloud less tha...,Deleted old snapshots,CNCLOUD2046,19.0
93,2022.06.08,Free Size on aggr_node02_data_CNCloud less tha...,Deleted old snapshots,None,30.0
100,2022.06.15,CNTMSPRD_Netapp Free Size on aggr_node01_data_...,"Its known issue, it got resolved automatically",None,17.0
104,2022.06.02,Free size on aggr_node02_data less than 10%/Av...,오래된 스냅샷 삭제 후 알람 Resolved,None,2881.0
113,2022.06.09,EUCLOUDNETAPP01: free size on agg_node02_data ...,Deleted old snapshots,None,211.0
132,2022.06.06,ccskrotamgdbp03.krcloud-ccskrotamgdbp03.krclou...,After restarting the Mangodb service on ccskro...,None,27.0
135,2022.06.06,Host : krcloudprdcomdr1601 memory error,Created the Ticket -> KRCLOUD-4994,KRCLOUD-4994,49.0
218,2022.06.15,clone06: Unavailable by ICMP ping,Informed in Kakao,ITSM-128,28.0
226,2022.06.06,rucloudprdcomdr101.rucloud System status is in...,"We have not migrated any VM instance yet, sinc...",RUCLOUD-694,143.0

In [13]:
pivot

   리전  합계    비중
0  KR  60  46.2
1  NA  27  20.8
2  EU  26  20.0
3  CN  12   9.2
4  RU   3   2.3
5  IN   1   0.8
6  SG   1   0.8

In [14]:
df_failed

,월,리전,AZ,테넌트,진행상태,장애전파시간,날짜,KST,상황근무자,엔지니어_L1,...,조치내용,JIRA_Ticket_No,해결여부,3선컨택여부,기타,주간,월간,연간,장애전파소요시간,장애전파
92,6월,CN,1.0,PRD,완료,PT0H19M0S,2022.06.04,22~09,Radhika,Thulsiraj,...,Deleted old snapshots,CNCLOUD2046,O,X,None,O,O,O,19.0,19.0
93,6월,CN,1.0,PRD,완료,PT0H30M0S,2022.06.08,22~09,Radhika,Ganesh,...,Deleted old snapshots,None,O,None,None,O,O,O,30.0,30.0
100,6월,CN,1.0,PRD,완료,PT0H17M0S,2022.06.15,21~09,Subramanya,"Saju,Ashok & Aslam",...,"Its known issue, it got resolved automatically",None,O,None,None,O,O,O,17.0,17.0
104,6월,EU,1.0,PRD,완료,PT48H1M0S,2022.06.02,08~15,고희경,None,...,오래된 스냅샷 삭제 후 알람 Resolved,None,None,None,None,O,O,O,2881.0,2881.0
113,6월,EU,1.0,PRD,완료,PT3H31M0S,2022.06.09,22~08,Mohamed,Thulasiraj,...,Deleted old snapshots,None,None,None,None,O,O,O,211.0,211.0
132,6월,KR,1.0,PRD,완료,PT0H27M0S,2022.06.06,21~09,Subramanya,Pethuraj,...,After restarting the Mangodb service on ccskro...,None,O,None,None,O,O,O,27.0,27.0
135,6월,KR,1.0,PRD,완료,PT0H49M0S,2022.06.06,15~22,김의현,김의현,...,Created the Ticket -> KRCLOUD-4994,KRCLOUD-4994,None,None,None,O,O,O,49.0,49.0
218,6월,NA,1.0,PRD,완료,PT0H28M0S,2022.06.15,21~09,Radhika,Saju,...,Informed in Kakao,ITSM-128,None,None,None,O,O,O,28.0,28.0
226,6월,RU,1.0,PRD,완료,PT2H23M0S,2022.06.06,21~09,Subramanya,Saju,...,"We have not migrated any VM instance yet, sinc...",RUCLOUD-694,X,None,None,O,O,O,143.0,143.0

In [15]:
# Chart - Pie 차트
if region == 'All':
    source = pivot
    chart = getPieChart(source)
    chart.save(f'./charts/mon_{region}_{y}_{m}_{d}_1.png')
else:
    pass

# Chart - 스캐터 차트    
chart = getScatterChart(timeslot, month)
chart.save(f'./charts/mon_{region}_{y}_{m}_{d}_2.png')

# Chart - 라인 차트
chart = getLineChart(df_filtered, month)
chart.save(f'./charts/mon_{region}_{y}_{m}_{d}_3.png')

In [16]:
# Document
document.add_paragraph('모니터링(인시던트핸들링)', style='List Number')

if region == 'All':
    document.add_paragraph(f'장애이벤트: 총 {total} 건', style='List Bullet')    
    document.add_picture(f'./charts/mon_{region}_{y}_{m}_{d}_1.png')
else:
    pass

from docx.text.run import *
# from document import *
p = document.add_paragraph(f'일별 장애전파 소요시간(분) 현황', style='List Bullet')
document.add_picture(f'./charts/mon_{region}_{y}_{m}_{d}_2.png')
run = p.add_run()
run.add_break(WD_BREAK.LINE)

##  (향후) 평균 소요 시간, 최대 소요 시간 추가 하자!!!

p = document.add_paragraph(f'장애전파SLA(15분) 초과: {len(df_failed)} 건', style='List Bullet')
addFailedTable(df_failed, regex, month)
run = p.add_run()
run.add_break(WD_BREAK.LINE)
run.add_break(WD_BREAK.LINE)

p = document.add_paragraph(f'월별 발생 건수 (추세)', style='List Bullet')
document.add_picture(f'./charts/mon_{region}_{y}_{m}_{d}_3.png')
run = p.add_run()
run.add_break(WD_BREAK.LINE)

In [17]:
# Document
document.add_page_break()

In [18]:
document.save('demo.docx')

## 1.2 이슈 관리

In [17]:
base_path = r"./data/1_2_202206_이슈관리_0727_01.ods"
sheet = f'{month}집계'

df = read_ods(base_path, sheet, headers=True)
df_filtered = df[df['리전'].apply(lambda x: True if re.search(regex, x) else False) & (df['테넌트']== 'PRD') & (df['진행상태']=='완료') & (df['월간']=='O')]

# Pivoting
pivot, total = getPivotTable(df, month)

In [18]:
pivot

   리전  합계    비중
0  EU   6  46.2
1  CN   2  15.4
2  KR   2  15.4
3  NA   2  15.4
4  SG   1   7.7

In [19]:
# Chart - Pie 차트
if region == 'All':
    source = pivot
    chart = getPieChart(source)
    chart.save(f'./charts/im_{region}_{y}_{m}_{d}_1.png')
else:
    pass

# Chart - 라인 차트
chart = getLineChart(df_filtered, month)
chart.save(f'./charts/im_{region}_{y}_{m}_{d}_2.png')

In [20]:
# Document
document.add_paragraph('이슈 관리', style='List Number')

if region == 'All':
    document.add_paragraph(f'{month}: 총 {total}', style='List Bullet')    
    document.add_picture(f'./charts/im_{region}_{y}_{m}_{d}_1.png')
else:
    pass

document.add_paragraph(f'월별 발생 건수 (추세)', style='List Bullet')
document.add_picture(f'./charts/im_{region}_{y}_{m}_{d}_2.png')

In [21]:
# Document
addTable4(df_filtered, regex, month)
document.add_page_break()

## 1.3 장애 관리

In [22]:
base_path = r"./data/1_3_202206_장애관리_0727_01.ods"
sheet = f'{month}집계'

df = read_ods(base_path, sheet, headers=True)
df_filtered = df[df['리전'].apply(lambda x: True if re.search(regex, x) else False) & (df['테넌트']== 'PRD') & (df['진행상태']=='완료') & (df['월간']=='O')]

# Pivoting
pivot, total = getPivotTable(df, month)

In [23]:
pivot

   리전  합계     비중
0  KR   3  100.0

In [24]:
# Chart - Pie 차트
if region == 'All':
    source = pivot
    chart = getPieChart(source)
    chart.save(f'./charts/pm_{region}_{y}_{m}_{d}_1.png')
else:
    pass

# Chart - 라인 차트
chart = getLineChart(df_filtered, month)
chart.save(f'./charts/pm_{region}_{y}_{m}_{d}_2.png')

In [25]:
# Document
document.add_paragraph('장애(RCA) 관리', style='List Number')

if region == 'All':
    document.add_paragraph(f'6월: 총 {total}', style='List Bullet')    
    document.add_picture(f'./charts/pm_{region}_{y}_{m}_{d}_1.png')
else:
    pass

document.add_paragraph(f'월별 발생 건수 (추세)', style='List Bullet')
document.add_picture(f'./charts/pm_{region}_{y}_{m}_{d}_2.png')

In [26]:
# Document
addTable4(df_filtered, regex, month)
document.add_page_break()

## 1.4 변경 관리

In [27]:
base_path = r"./data/1_4_202206_변경관리_0727_01.ods"
sheet = f'{month}집계'

df = read_ods(base_path, sheet, headers=True)
df_filtered = df[df['리전'].apply(lambda x: True if re.search(regex, x) else False) & (df['테넌트']== 'PRD') & (df['진행상태']=='완료') & (df['월간']=='O')]

# Pivoting
pivot, total = getPivotTable(df, month)

In [28]:
pivot

   리전  합계    비중
0  KR  11  32.4
1  SG   9  26.5
2  EU   7  20.6
3  CN   5  14.7
4  NA   2   5.9

In [29]:
# Chart - Pie 차트
if region == 'All':
    source = pivot
    chart = getPieChart(source)
    chart.save(f'./charts/cm_{region}_{y}_{m}_{d}_1.png')
else:
    pass

# Chart - 라인 차트
chart = getLineChart(df_filtered, month)
chart.save(f'./charts/cm_{region}_{y}_{m}_{d}_2.png')

In [30]:
# Document
document.add_paragraph('변경 관리', style='List Number')

if region == 'All':
    document.add_paragraph(f'{month}: 총 {total}', style='List Bullet')    
    document.add_picture(f'./charts/cm_{region}_{y}_{m}_{d}_1.png')
else:
    pass

document.add_paragraph(f'월별 발생 건수 (추세)', style='List Bullet')
document.add_picture(f'./charts/cm_{region}_{y}_{m}_{d}_2.png')

In [31]:
# Document
addTable3(df_filtered, regex, month)
document.add_page_break()

## 1.5 요청 관리

In [32]:
base_path = r"./data/1_5_202206_요청관리_0727_01.ods"
sheet = f'{month}집계'

df = read_ods(base_path, sheet, headers=True)
df_filtered = df[df['리전'].apply(lambda x: True if re.search(regex, x) else False) & (df['테넌트']== 'PRD') & (df['진행상태']=='완료') & (df['월간']=='O')]

# Pivoting
pivot, total = getPivotTable(df, month)

In [33]:
pivot

   리전   합계    비중
0  EU  116  27.9
1  KR  102  24.5
2  SG   84  20.2
3  CN   52  12.5
4  NA   45  10.8
5  RU   15   3.6
6  IN    2   0.5

In [34]:
# Chart - Pie 차트
if region == 'All':
    source = pivot
    chart = getPieChart(source)
    chart.save(f'./charts/cm_{region}_{y}_{m}_{d}_1.png')
else:
    pass

# Chart - 라인 차트
chart = getLineChart(df_filtered, month)
chart.save(f'./charts/cm_{region}_{y}_{m}_{d}_2.png')

In [35]:
# Document
document.add_paragraph('요청 관리', style='List Number')

if region == 'All':
    document.add_paragraph(f'{month}: 총 {total}', style='List Bullet')    
    document.add_picture(f'./charts/cm_{region}_{y}_{m}_{d}_1.png')
else:
    pass

document.add_paragraph(f'월별 발생 건수 (추세)', style='List Bullet')
document.add_picture(f'./charts/cm_{region}_{y}_{m}_{d}_2.png')

In [36]:
# Document
# addTable3(df_filtered, regex, month)
document.add_page_break()

## 1.6 자산 관리 - VM

In [37]:
base_path = r"./data/1_6_202206_자산관리_VM_0727_01.ods"
sheet = f'{month}집계'

df = read_ods(base_path, sheet, headers=True)
df_filtered = df[df['리전'].apply(lambda x: True if re.search(regex, x) else False) & (df['테넌트']== 'PRD') & (df['월간']=='O')]

# Pivoting
pivot, total = getPivotTable(df, month)

In [38]:
pivot

   리전   count      합계    비중
2  KR  1931.0  1931.0  51.4
3  NA   581.0   581.0  15.5
1  EU   530.0   530.0  14.1
0  CN   393.0   393.0  10.5
5  SG   243.0   243.0   6.5
4  RU    78.0    78.0   2.1

In [39]:
# Chart - Pie 차트
if region == 'All':
    source = pivot
    chart = getPieChart(source)
    chart.save(f'./charts/vm_{region}_{y}_{m}_{d}_1.png')
else:
    pass

# Chart - 라인 차트
chart = getLineChart2(df_filtered, month)
chart.save(f'./charts/vm_{region}_{y}_{m}_{d}_2.png')

In [40]:
# Document
document.add_paragraph('자산 관리(vm)', style='List Number')

if region == 'All':
    document.add_paragraph(f'{month}: 총 {total}', style='List Bullet')    
    document.add_picture(f'./charts/vm_{region}_{y}_{m}_{d}_1.png')
else:
    pass

document.add_paragraph(f'월별 VM 수 (추세)', style='List Bullet')
document.add_picture(f'./charts/vm_{region}_{y}_{m}_{d}_2.png')

In [41]:
# Document
# addSummaryTable(df_filtered, regex, month)
document.add_page_break()

## 1.6 자산 관리 - DB

In [42]:
base_path = r"./data/1_6_202206_자산관리_DB_0727_01.ods"
sheet = f'{month}집계'

df = read_ods(base_path, sheet, headers=True)
df_filtered = df[df['리전'].apply(lambda x: True if re.search(regex, x) else False) & (df['테넌트']== 'PRD') & (df['월간']=='O')]

# Pivoting
pivot, total = getPivotTable(df_filtered, month)
pivot2, total = getPivotTable2(df_filtered, month)
pivot2 = pivot2.reset_index()

In [43]:
pivot

   리전  count     합계    비중
2  KR  407.0  407.0  67.4
5  SG   57.0   57.0   9.4
1  EU   48.0   48.0   7.9
0  CN   43.0   43.0   7.1
3  NA   41.0   41.0   6.8
4  RU    8.0    8.0   1.3

In [44]:
pivot2

리전          유형    CN    EU     KR    NA   RU    SG     합계    비중
0        Redis  14.0  22.0  145.0  10.0  3.0  26.0  220.0  36.4
1   PostgreSQL  10.0  19.0  126.0   7.0  4.0  24.0  190.0  31.5
2        Mongo   5.0   4.0   82.0   6.0  1.0   7.0  105.0  17.4
3       Tibero  14.0   3.0   26.0  18.0  0.0   0.0   61.0  10.1
4        Maria   0.0   0.0   28.0   0.0  0.0   0.0   28.0   4.6

In [45]:
# Chart - Pie 차트
if region == 'All':
    source = pivot
    chart = getPieChart(source)
    chart.save(f'./charts/db_{region}_{y}_{m}_{d}_1.png')
else:
    pass

# source = pivot2
# chart = getPieChart2(source)
# chart.save(f'./charts/db_{region}_{y}_{m}_{d}_2.png')

# Chart - 라인 차트
chart = getLineChart2(df_filtered, month)
chart.save(f'./charts/db_{region}_{y}_{m}_{d}_3.png')

In [46]:
# Document
document.add_paragraph('자산 관리(db)', style='List Number')

if region == 'All':
    document.add_paragraph(f'{month}: 총 {total}', style='List Bullet')    
    document.add_picture(f'./charts/db_{region}_{y}_{m}_{d}_1.png')
else:
    pass

addPivot2Table(pivot2)
# document.add_picture(f'./charts/db_{region}_{y}_{m}_{d}_2.png')
document.add_paragraph(f'월별 추세', style='List Bullet')
document.add_picture(f'./charts/db_{region}_{y}_{m}_{d}_3.png')

In [47]:
# Document
document.add_page_break()

## 1.6 자산 관리 - K8s

In [48]:
base_path = r"./data/1_6_202206_자산관리_k8s_0727_01.ods"
sheet = f'{month}집계'

df = read_ods(base_path, sheet, headers=True)
df_filtered = df[df['리전'].apply(lambda x: True if re.search(regex, x) else False) & (df['테넌트']== 'PRD') & (df['월간']=='O')]

# Pivoting
pivot, total = getPivotTable(df, month)

In [49]:
pivot

   리전  합계    비중
0  KR  25  48.1
1  CN   8  15.4
2  NA   7  13.5
3  SG   7  13.5
4  EU   5   9.6

In [50]:
# Chart - Bar 차트
if region == 'All':
    source = pivot
    chart = getBarChart(df_filtered)
    chart.save(f'./charts/k8s_{region}_{y}_{m}_{d}_1.png')
else:
    pass

# Chart - Line 차트
# chart = getLineChart2(df_filtered, month)
# chart.save(f'./charts/k8s_{region}_{y}_{m}_{d}_2.png')

In [51]:
# Document
document.add_paragraph('자산 관리(k8s)', style='List Number')

# Chart - Bar 차트
if region == 'All':
    document.add_paragraph(f'{month}: 총 {total}', style='List Bullet')    
    document.add_picture(f'./charts/k8s_{region}_{y}_{m}_{d}_1.png')
else:
    pass

# Chart - Line 차트
# document.add_paragraph(f'월별 추세', style='List Bullet')
# document.add_picture(f'./charts/k8s_{region}_{y}_{m}_{d}_2.png')

In [52]:
# Document
# addSummaryTable(df_filtered, regex, month)
document.add_page_break()

## 1.7 용량 관리

In [53]:
base_path = r"./data/1_7_202206_용량관리_0727_01.ods"
sheet = f'{month}집계'

df = read_ods(base_path, sheet, headers=True)
df_filtered = df[df['리전'].apply(lambda x: True if re.search(regex, x) else False) & (df['테넌트']== 'PRD') & (df['월간']=='O')]

# Pivoting
pivot, total = getPivotTable(df, month)

In [54]:
pivot

   리전  합계    비중
0  KR   4  33.3
1  EU   3  25.0
2  CN   2  16.7
3  NA   2  16.7
4  RU   1   8.3

In [55]:
# Chart - Pie 차트
if region == 'All':
    source = pivot
    chart = getPieChart(df_filtered)
    chart.save(f'./charts/cpm_{region}_{y}_{m}_{d}_1.png')
else:
    pass

# Chart - 라인 차트
chart = getLineChart(df_filtered, month)
chart.save(f'./charts/cpm_{region}_{y}_{m}_{d}_2.png')

WARN Infinite extent for field "합계_start": [Infinity, -Infinity]
WARN Infinite extent for field "합계_end": [Infinity, -Infinity]
WARN Infinite extent for field "합계_start": [Infinity, -Infinity]
WARN Infinite extent for field "합계_end": [Infinity, -Infinity]

In [56]:
# Document
document.add_paragraph('용량(이슈) 관리', style='List Number')

if region == 'All':
    document.add_paragraph(f'{month}: 총 {total}', style='List Bullet')    
    document.add_picture(f'./charts/cpm_{region}_{y}_{m}_{d}_1.png')
else:
    pass

document.add_paragraph(f'월별 추세', style='List Bullet')
document.add_picture(f'./charts/cpm_{region}_{y}_{m}_{d}_2.png')

In [57]:
# Document
addTable3(df_filtered, regex, month)
document.add_page_break()

In [58]:
document.add_paragraph(f'자원 현황표', style='List Bullet')

## 1.8 백업 관리

In [59]:
base_path = r"./data/1_8_202206_백업관리_0727_01.ods"
sheet = f'{month}집계'

df = read_ods(base_path, sheet, headers=True)
df_filtered = df[df['리전'].apply(lambda x: True if re.search(regex, x) else False) & (df['테넌트']== 'PRD') & (df['월간']=='O')]

# Pivoting
pivot, total = getPivotTable(df, month)

In [60]:
pivot

   리전   합계    비중
0  KR  396  66.7
1  SG   57   9.6
2  NA   46   7.7
3  EU   44   7.4
4  CN   43   7.2
5  RU    8   1.3

In [61]:
# Chart - Pie 차트
if region == 'All':
    source = pivot
    chart = getPieChart(df_filtered)
    chart.save(f'./charts/bm_{region}_{y}_{m}_{d}_1.png')
else:
    pass

# Chart - 라인 차트
chart = getLineChart(df_filtered, month)
chart.save(f'./charts/bm_{region}_{y}_{m}_{d}_2.png')

WARN Infinite extent for field "합계_start": [Infinity, -Infinity]
WARN Infinite extent for field "합계_end": [Infinity, -Infinity]
WARN Infinite extent for field "합계_start": [Infinity, -Infinity]
WARN Infinite extent for field "합계_end": [Infinity, -Infinity]

In [62]:
# Document
document.add_paragraph('백업 관리', style='List Number')

if region == 'All':
    document.add_paragraph(f'{month}: 총 {total}', style='List Bullet')    
    document.add_picture(f'./charts/bm_{region}_{y}_{m}_{d}_1.png')
else:
    pass

document.add_paragraph(f'월별 추세', style='List Bullet')
document.add_picture(f'./charts/bm_{region}_{y}_{m}_{d}_2.png')

In [63]:
# Document
# addSummaryTable(df_filtered, regex, month)
document.add_page_break()

## 1.9 보안 관리

In [64]:
base_path = r"./data/1_9_202206_보안관리_0727_01.ods"
sheet = f'{month}집계'

df = read_ods(base_path, sheet, headers=True)
df_filtered = df[df['리전'].apply(lambda x: True if re.search(regex, x) else False) & (df['테넌트']== 'PRD') & (df['월간']=='O')]

# Pivoting
pivot, total = getPivotTable(df, month)

In [65]:
pivot

   리전  합계    비중
0  RU   1  50.0
1  SG   1  50.0

In [66]:
# Chart - Pie 차트
if region == 'All':
    source = pivot
    chart = getPieChart(df_filtered)
    chart.save(f'./charts/sm_{region}_{y}_{m}_{d}_1.png')
else:
    pass

# Chart - 라인 차트
chart = getLineChart(df_filtered, month)
chart.save(f'./charts/sm_{region}_{y}_{m}_{d}_2.png')

WARN Infinite extent for field "합계_start": [Infinity, -Infinity]
WARN Infinite extent for field "합계_end": [Infinity, -Infinity]
WARN Infinite extent for field "합계_start": [Infinity, -Infinity]
WARN Infinite extent for field "합계_end": [Infinity, -Infinity]

In [67]:
# Document
document.add_paragraph('보안 관리', style='List Number')

if region == 'All':
    document.add_paragraph(f'{month}: 총 {total}', style='List Bullet')    
    document.add_picture(f'./charts/sm_{region}_{y}_{m}_{d}_1.png')
else:
    pass

document.add_paragraph(f'월별 추세', style='List Bullet')
document.add_picture(f'./charts/sm_{region}_{y}_{m}_{d}_2.png')

In [68]:
# Document
addTable3(df_filtered, regex, month)
document.add_page_break()

## 1.10 하드웨어 정기점검

In [69]:
base_path = r"./data/1_10_202206_정기점검_0727_01.ods"
sheet = f'{month}집계'

df = read_ods(base_path, sheet, headers=True)
df_filtered = df[df['리전'].apply(lambda x: True if re.search(regex, x) else False) & (df['테넌트']== 'PRD') & (df['월간']=='O')]

# Pivoting
pivot, total = getPivotTable(df, month)

In [70]:
pivot

   리전  합계    비중
0  KR  10  41.7
1  CN   3  12.5
2  EU   3  12.5
3  IN   3  12.5
4  NA   3  12.5
5  RU   1   4.2
6  SG   1   4.2

In [71]:
# Chart - Pie 차트
if region == 'All':
    source = pivot
    chart = getPieChart(df_filtered)
    chart.save(f'./charts/rc_{region}_{y}_{m}_{d}_1.png')
else:
    pass

# Chart - 라인 차트
chart = getLineChart(df_filtered, month)
chart.save(f'./charts/rc_{region}_{y}_{m}_{d}_2.png')

WARN Infinite extent for field "합계_start": [Infinity, -Infinity]
WARN Infinite extent for field "합계_end": [Infinity, -Infinity]
WARN Infinite extent for field "합계_start": [Infinity, -Infinity]
WARN Infinite extent for field "합계_end": [Infinity, -Infinity]

In [72]:
# Document
document.add_paragraph('정기점검', style='List Number')

if region == 'All':
    document.add_paragraph(f'{month}: 총 {total}', style='List Bullet')    
    document.add_picture(f'./charts/rc_{region}_{y}_{m}_{d}_1.png')
else:
    pass

document.add_paragraph(f'월별 추세', style='List Bullet')
document.add_picture(f'./charts/rc_{region}_{y}_{m}_{d}_2.png')

In [73]:
# Document
addTable3(df_filtered, regex, month)
document.add_page_break()

## Save Document

In [86]:
document.save(f'월간보고서_{region}_contents_{y}_{m}_{d}.docx')

## 보고서 표지 (커버 쉬트)

In [82]:
# Cover Page
from docxtpl import DocxTemplate

doc = DocxTemplate("cover-page-template.docx")

context = { 
    'Service' : "HMC CCS Infra 운영/관리",      
    'Title' : "Monthly Report",    
    'Region' : region,        
    'Year' : "2022",
    'Month' : "6",
    'Department' : "클라우드운영센터",
    'Author' : "정인환"
}
doc.render(context)

doc.save(f'월간보고서_cover_{region}.docx')

In [85]:
# Merged Doc

from docx import Document

merged_document = Document()

if region == 'All':
    files = [f'월간보고서_cover_{region}.docx', f'월간보고서_contents_{y}_{m}_{d}.docx' ]
else:
    files = [f'월간보고서_cover_{region}.docx', f'월간보고서_contents_{region}_{y}_{m}_{d}.docx' ]

def combine_word_documents(files):
    merged_document = Document()

    for index, file in enumerate(files):
        sub_doc = Document(file)

        # Don't add a page break if you've reached the last file.
        if index < len(files)-1:
           sub_doc.add_page_break()

        for element in sub_doc.element.body:
            merged_document.element.body.append(element)

    merged_document.save( f'월간보고서_{region}_{y}_{m}_{d}.docx')

combine_word_documents(files)